
h1 {
    text-transform: uppercase;
}

.paper {
    background-color: #212042 !important;
    border: #C8ff29 solid 2px !important;
    color: inherit !important;
    border-radius: 40px !important;

}

p {
    text-align: justify-all;
    margin: 0.7rem;
    padding: 1rem 0;
}

h1 {
    text-align: center;
}



