.stack-container-wrapper {
    display: flex !important;
    padding-top: 7em;
    width: 100%;
}
.stack-technologies-block {
    width: 100%;
    height: 100%;


}
.projects-and-experience-block {
    width: 100%;
}
.text-transform {
    text-transform: uppercase;
}