.footer {
    background: #212042;
    border-top: #C8ff29 1px solid;
}

.footer a:hover {
    text-decoration: underline;
}

.contact {
    letter-spacing: 2px;
    text-indent: 5px;
    color: grey;
}
